header{
    background-color: white;
    color: black;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.1rem;
    padding-left: 2rem;
    font-weight: 600; 
    font-family: 'Roboto', sans-serif;
}

.logo{
    max-height: 4rem;
    margin-right: 0.5rem;
}

.logo-container{
    display: flex;
    align-items: center;
}

.refs{
    margin-right: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    column-gap: 20px;
    font-size: 1.3rem;
}

.refs li{
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 600px){
    header{
        font-size: 1.4rem;
        padding-left: 0.5rem;
    }
   
    .logo{
        max-height: 3.5rem;
        margin-right: 0.3rem;
    }

    .refs{
        font-size: 0.8rem;
        margin-right: 0.5rem;
        column-gap: 7px;
    }
}
