.exchange-container{
    background-color: white;
    height: 500px;
    min-width: 320px;
    width: 30vw;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    box-shadow: -12px 16px 35px 0px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: -12px 16px 35px 0px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: -12px 16px 35px 0px rgba(0, 0, 0, 0.6);
}

.inputs-container,.info{
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.from-container{
    display: grid;
    grid-template-columns: 20% auto;
}

.conversionRate{
    font-size: 1.3em;
    font-weight: bold;
    display: grid;
    align-content: center;
}

.status{
    color:black;
    margin: 0 auto;
    display: grid;
    justify-items: center;
}

@media screen and (max-width: 550px){
    .exchange-container{
        min-width: 290px;
        padding: 15px;
    }

    .from-container{
        grid-template-columns: 25% auto;
    }
}
    
